/* 튜토리얼 */
h1 {
    font-size: 50px;
    text-align: center;
    margin: 50px;
}

h3 {
    font-size: 25px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    display: grid;
    flex: none;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 525px;
}

h4 {
    margin-left: 30px;
    font-size: 17px; 
}

ul#merge_rules {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 150px;
    margin-left: 30px;
    background-color: lightgray;
}

li {
    font-size: 17px;
    margin: 5px;
}

li.jaeum {
    color: darkblue;
}

li.moeum {
    color: cornflowerblue;
}

button {
    margin-top: 50px;
    width: 160px;
    height: 75px;
    font-size: 25px;
}

/* 퀴즈에 사용되는 div는 main, tutorial 동일하게 적용 */
div {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

div table {
    height: auto;
    width: auto;
}

div table tr td {
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 30px;
    background-color: gray;
}

div table tr td:hover {
    background-color: aliceblue;
    height: 60px;
    width: 60px;
}

div table tr td.target {
    background-color: aliceblue;
    height: 60px;
    width: 60px;
}

div table tr td.choosable {
    background-color: beige;
    height: 60px;
    width: 60px;
}

div table tr td.chosen {
    background-color: blue;
    height: 60px;
    width: 60px;
}

div table tr td.word {
    background-color: blue;
    height: 180px;
    width: 120px;
}

div#options-window {
    position: fixed;
    z-index: 1000;
    width: 150px;
    height: fit-content;
    background-color: aliceblue;
    display: none;
}

div#options-window .option {
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

div#options-window .option:hover {
    background-color: beige;
}