<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>puzzle page</title>
</head>
<body>
    <!-- menu button -->

    <!-- hint buuton -->
    <button id="hintmenu" @click="toggleHint"><span>힌트</span></button>
    <div id="hints" v-if="hintClick">
        <button class="hint" @click="space_hint"><span>빈칸 힌트</span></button>
        <button class="hint" @click="consonant_hint"><span>초성 힌트</span></button>
    </div>

    <!-- answer area -->
    <div id="answerarea">
        <h2 id="answer"></h2>
        <p id="definition"></p>
    </div>

    <!-- game area -->
    <div id="gamearea" v-for="letter in letters">
        <div class="letter" :aria-rowindex="letter.x"  :aria-colindex="letter.y" @click="target">{{ letter.letter }}</div>
        <!-- @click show options window -->
        <div id="options-window" v-if="target">
            <div class="option" id="merge">합치기</div>
            <br>
            <div class="option" id="word">단어 조합</div>
            <br>
            <div class="option" id="blank">빈칸</div>
        </div>

    </div>
</body>
</html>